* {
  font-family: 'Poppins';
  /* color: #198754; */
  /* color: #146c43; */
}

body {
  min-height: 100vh;
  margin: 0;
  color: #fff;
  background: linear-gradient(180deg, #237a57, #093028);
}

.transition {
  animation: uping 1s forwards ease;
  opacity: 0.1;
  position: absolute;
  left: 0;
  right: 0;
}

@keyframes uping {
  from {
    top: 50px;
    opacity: 0.1;
  }

  to {
    top: 0px;
    opacity: 1;
    position: relative;
  }
}

.icon-spin {
  width: 75px;
  height: 107px;
  animation: spin 1s infinite ease;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.anime-shake {
  animation: spin 8s infinite ease;
}

@keyframes spin {
  2% {
    transform: scale(0.95);
  }

  4% {
    transform: scale(1.05);
  }

  6% {
    transform: scale(0.95);
  }

  8% {
    transform: scale(1.05);
  }

  10% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
  }
}

#app {
  min-height: 85vh;
}

#notification {
  top: 20px;
  right: 5px;
  min-width: 50vh;
}

#content,
#products {
  min-height: calc(85vh - 80px);
  /* overflow-y: auto; */
  overflow-y: hidden;
}

.tabled {
  background-color: lightgray;
  border-radius: 0.5em;
  color: #093028 !important;
}

.tabled .itens {
  height: calc(85vh - 255px);
  overflow-y: auto;
}

.pointer {
  cursor: pointer;
  transition: all 0.3s;
}

.pointer:hover {
  transform: scale(1.1);
}

#home {
  min-height: calc(85vh - 80px);
  color: #fff;
}

#home .card {
  width: 250px;
  height: 150px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
}

#home .card.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

#home .card:not(.disabled):hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 5px #093028;
}

#home .card h2 {
  /* color: #093028 !important; */
  font-size: 42px;
  font-weight: 800;
  z-index: 2;
  color: #fff;
  user-select: none;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #093028;
}

#home .card::before {
  content: '';
  position: absolute;
  top: -30%;
  left: -30%;
  right: -30%;
  bottom: -30%;
  opacity: 0.2;
}

#home .card.bg-primary::before {
  background-image: url(./image/products.png);
  background-size: 500px;
  transform: rotate(-25deg);
}

#home .card.bg-success::before {
  background-image: url(./image/orders.png);
  background-size: 500px;
  transform: rotate(25deg);
}

#dailyOrders .list {
  height: calc(85vh - 204px);
  overflow-y: auto;
  overflow-x: hidden;
}

#dailyOrders .card {
  padding: 20px 0;
  border-width: 2px;
  user-select: none;
}

#dailyOrders label {
  font-size: 12px;
  user-select: none;
}